configuration {
    modi:                       "drun,run,window";
    show-icons:                 true;
    display-drun:               "";
    display-run:                "";
    display-window:             "";
    drun-display-format:        "{name}";
    font:                       "JetBrainsMono Nerd Font 11";
    icon-theme:                 "Papirus";
    scroll-method:              1;
}

@import "/dev/null"

* {
    bg0:     #000000;
    bg1:     #121212;
    bg2:     #303030;
    bg3:     #5f5f5f;
    bg4:     #87875f;
    fg:      #d0d0d0;
    red:     #d75f5f;
    blue:    #0087d7;
    green:   #00af5f;
    yellow:  #d78700;
    orange:  #d78700;

    background-color:            transparent;
    text-color:                  @fg;
    margin:                      0;
    padding:                     0;
    spacing:                     0;
}

window {
    width:                       600px;
    enabled:                     true;
    border:                      2px solid;
    border-radius:               0px;
    border-color:                @orange;
    background-color:            @bg0;
    cursor:                      "default";
}

mainbox {
    enabled:                     true;
    spacing:                     0px;
    background-color:            transparent;
    children:                    [ "inputbar", "listview" ];
}

inputbar {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     15px;
    background-color:            @bg1;
    text-color:                  @fg;
    children:                    [ "prompt", "entry" ];
}

prompt {
    enabled:                     false;
    background-color:            transparent;
    text-color:                  @blue;
}

entry {
    enabled:                     true;
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search...";
    placeholder-color:           @bg4;
}

listview {
    enabled:                     true;
    columns:                     1;
    lines:                       8;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     5px;
    margin:                      0px;
    padding:                     10px;
    border:                      0px;
    background-color:            transparent;
}

element {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     10px;
    border:                      0px;
    border-radius:               0px;
    background-color:            transparent;
    text-color:                  @fg;
    cursor:                      pointer;
}

element normal.normal {
    background-color:            transparent;
    text-color:                  @fg;
}

element normal.urgent {
    background-color:            @red;
    text-color:                  @bg0;
}

element normal.active {
    background-color:            @blue;
    text-color:                  @bg0;
}

element selected.normal {
    background-color:            @bg2;
    text-color:                  @fg;
}

element selected.urgent {
    background-color:            @red;
    text-color:                  @bg0;
}

element selected.active {
    background-color:            @bg2;
    text-color:                  @fg;
}

element alternate.normal {
    background-color:            transparent;
    text-color:                  @fg;
}

element alternate.urgent {
    background-color:            @red;
    text-color:                  @bg0;
}

element alternate.active {
    background-color:            @blue;
    text-color:                  @bg0;
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        28px;
    cursor:                      inherit;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:             0.0;
}
