# Compiled
*.elc

# Packaging
elpa/
# emacs custom-file
emacs-custom.el

# Backups and autosave
ido.last
smex-items
backups/
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list/
tramp
.\#*

# Org-mode
.org-id-locations
*~.pdf

# Recent files, places, etc.
recentf
places
projects
bookmarks
history
projectile.cache
savehist
saveplace
.lsp-session-v1

# Native compilation cache
eln-cache/

# IDE files
.idea/
*.iml
